<section class="signup__section">
    <div class="signup__div">
    
     <div class="signup__header ">
            
            <h1 class="text-center m-3">Sign Up here !</h1>
            <hr>
    </div>

    


    <%= form_for @user,  url:sign_up_path do |form| %>

        
        <div class="mb-3 adjust__labels_fields"> 
        
            <%= form.label :email %>
            <%= form.text_field :email, placeholder: "parimaml4653@gmail.com" %>
        
        </div>


        <div class="mb-3 adjust__labels_fields"> 
        
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: "password" %>

        </div>


        <div class="mb-3 adjust__labels_fields"> 
        
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, placeholder: "password" %>

        </div>

    <%= form.submit "Submit"%>

    <% end %>

    <br/>
    <% if @user.errors.any? %>
        <div class="alert alert-danger text-small">
            <% @user.errors.full_messages.each do |message| %>
            <div>
                <%= message  %> or sign in <a  href="/sign-in">here</a>.
            </div>
            <% end %>
        </div>
    <% else %>
        <div class="alert alert-info text-small">
            Sign in <a  href="/sign-in">here</a>. 
        </div>
    <% end %>

    </div>
</section>