<div class="container mt-5">


<div class=" my-3 d-flex justify-content-between">

  <%= link_to "Add Customer", add_customer_path, class: "btn btn-info"%>
  <div class="btn btn-info ">Add Order</div>


</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Sr. No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="address__of">Address</th>
      <th scope="col">Order Count</th>

    </tr>
 
  </thead>
  
  <tbody class="customer__infomations">
  <% i=1 %>
    <% @customer.each do |cust| %>

     <tr>
      <th scope="row"><%= i %></th>
      <td> <a href=/show-customer/<%= cust.id %>> <%= cust.name%> </a> </td>
      <td><%= cust.email %> </td>
      <td>+91-<%= cust.phone %> </td>
      <td class="address__of"><%= cust.address %> </td>
      <td>21</td>
    </tr>
      <% i=i+1 %>
    <% end %>
  
  </tbody>
</table>
<%= will_paginate @customer%>
</div>